<p id="notice"><%= notice %></p>

<p>
  <strong>Question Asked:</strong>
  <%= @question.question_asked %>
</p>

<p>
  <strong>Quiz ID</strong>
  <%= @question.quiz_id %>
</p>

<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Answer</th>
    </tr>
  </thead>

  <tbody>
    <% @answers.shuffle.each_with_index do |answer, index| %>
      <tr>
        <td><%= (index + 1) %></td>
        <td><%= button_to answer.possible_answer, {:controller => "questions", :action => "show", :id => @next_question}, :method => :get %></td>

      </tr>
    <% end %>
  </tbody>
</table>
<br/>
<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', quiz_path(@question.quiz_id) %>
