<p id="notice"><%= notice %></p>

<h1>
  <%= @quiz.name %>
</h1>

<strong><%= link_to "Click here", {:controller => "questions", :action => "show", :id => @quiz_questions.first}, :method => :get %> to start the quiz!</strong>

<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Question</th>
      <th colspan="1"></th>
    </tr>
  </thead>

<!--   <tbody>
    <% #@quiz_questions.each_with_index do |question, index| %>
      <tr>
        <td><%# (index + 1) %></td>
        <td><%# question.question_asked %></td>
      </tr>
    <%# end %>
  </tbody>
</table> -->

  <tbody>
    <% (@quiz_questions.length - 1).times do |i| %>
      <tr>
        <td><%= (i + 1) %></td>
        <td><%= @quiz_questions[i].question_asked %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%# link_to 'Edit', edit_quiz_path(@quiz) %>
<%= link_to 'Back', quizzes_path %>
