<!-- <p id="notice"><%#= notice %></p> -->

<h1 class="header center red-text text-lighten-1 blur-shadow">
  <%= @quiz.name %>
</h1>

<h3 class="center bold"><%= link_to "Start the quiz!", {:controller => "questions", :action => "show", :id => @quiz_questions.first}, :method => :get %></h3>

<table class="center-block">
  <thead>
    <tr>
      <th class="bold-text">#</th>
      <th class="bold-text">Questions</th>
    </tr>
  </thead>

<!--   <tbody>
    <% #@quiz_questions.each_with_index do |question, index| %>
      <tr>
        <td><%# (index + 1) %></td>
        <td><%# question.question_asked %></td>
      </tr>
    <%# end %>
  </tbody>
</table> -->

  <tbody>
    <% (@quiz_questions.length - 1).times do |i| %>
      <tr>
        <td class="bold-text"><%= (i + 1) %></td>
        <td class="bold-text"><%= @quiz_questions[i].question_asked %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%# link_to 'Edit', edit_quiz_path(@quiz) %>
<%= link_to 'Back', quizzes_path %>
