<p id="notice"><%= notice %></p>

<h1 class="header center red-text text-lighten-1 blur-shadow">
  <%= @quiz.name %>
</h1>

<table class="center-block">
  <thead class="bold-text">
    <tr>
      <th>#</th>
      <th>Question</th>
      <th>Answer Picked</th>
      <th>Correct Answer</th>
    </tr>
  </thead>

  <tbody>
    <% @quiz_answers.each_with_index do |qa, index| %>
      <tr>
        <td><%= (index + 1) %></td>
        <td><%= qa[:question] %></td>
        <td><%= qa[:picked_answer] %></td>
        <td><%= qa[:correct_answer] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="center">
  <p class="bold-text">
    <strong>Get your results emailed to you!</strong>
    <%= button_to "Email ", {:controller => "quizzes", :action => "email", :message => @message, id: @quiz.id }, :method => :post, :class => "btn-large waves-effect waves-light blue lighten-1" %>   
  </p>
</div>


<!-- <%#= link_to 'Edit', edit_quiz_path(@quiz) %> |
<%#= link_to 'Back', quizzes_path %> -->
